<component name="ArtifactManager">
  <artifact type="war" name="SpringAppWebFlow:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springapp-webflow-1.0.0.war">
      <element id="artifact" artifact-name="SpringAppWebFlow:war exploded" />
    </root>
  </artifact>
</component>